<div class="container">

  <div class="mb-3">

    <div class="text-center mb-4">
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Aboot Us</h1>
    </div>

    <div>
      <p class="mt-5 mb-3">
        Tired of the spanish place from up the street? Where they give you more
        rice than they give you meet! Well bring yo big ass down to Krome Exxon,
        19900 KROME AVE. That's right of Manchester! Krome Exxon, tastes so good
        makes you want to slap yo momma! Ain't that right Willy?!
      </p>
    </div>

  </div>
</div>
