<div class="test">
  <h1>TODAY'S MENU</h1>
</div>

<div class="container">
  
  <div class="container">
    <mat-card>
      <mat-card-title> Rice </mat-card-title>
        <div class="row" *ngFor="let rice of rices">
          <div class="col-md-3" *ngFor="let item of rice">
            <div class="centered-block">
                <img class="img-responsive" [attr.src]="item.image" alt="{{item.image}}">
                {{item.name}}
            </div>
          </div>  
        </div>
    </mat-card>
  </div>
  
  <br>
  
  <div class="container">
    <mat-card>
      <mat-card-title> Beans </mat-card-title>
        <div class="row" *ngFor="let bean of beans">
          <div class="col-md-3" *ngFor="let item of bean">
            <div class="centered-block">
                <img class="img-responsive" [attr.src]="item.image" alt="{{item.image}}">
                {{item.name}}
            </div>
          </div>  
        </div>
    </mat-card>
  </div>
  
  <br>
  
  <div class="container">
    <mat-card>
      <mat-card-title> Meats </mat-card-title>
        <div class="row" *ngFor="let meat of meats">
          <div class="col-md-3" *ngFor="let item of meat">
            <div class="centered-block">
                <img class="img-responsive" [attr.src]="item.image" alt="{{item.image}}">
                {{item.name}}
            </div>
          </div>  
        </div>
    </mat-card>
  </div>

  <br>
  
  <div class="container">
    <mat-card>
      <mat-card-title> Sides </mat-card-title>
        <div class="row" *ngFor="let side of sides">
          <div class="col-md-3" *ngFor="let item of side">
            <div class="centered-block">
                <img class="img-responsive" [attr.src]="item.image" alt="{{item.image}}">
                {{item.name}}
            </div>
          </div>  
        </div>
    </mat-card>
  </div>

  <br>
  
  <div class="container">
    <mat-card>
      <mat-card-title> Other </mat-card-title>
        <div class="row" *ngFor="let other of others">
          <div class="col-md-3" *ngFor="let item of other">
            <div class="centered-block">
                <img class="img-responsive" [attr.src]="item.image" alt="{{item.image}}">
                {{item.name}}
            </div>
          </div>  
        </div>
    </mat-card>
  </div>
  
</div>