<div class="btn-group " role="group" aria-label="Basic example">
  <button type="button" class="btn btn-success" (click)="markReady()">Mark Ready</button>
  <button type="button" class="btn btn-primary" (click)="markSold()">Mark Sold Out</button>
  <button type="button" class="btn btn-primary">Mark Preparing</button>
  <button type="button" class="btn btn-primary">Mark Other</button>
  <button type="button" class="btn btn-danger">Clear All</button>
</div>

<div class="container">

  <form>
    <div class="row">
      <div class="col-6 col-sm-3" *ngFor="let food of foods[0]" (click)="onSelect(food)">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body">
            <h5 class="card-title">{{food.name}}</h5>
            <h6 class="card-text">Spanish Name</h6>
            <div class="d-flex justify-content-between align-items-center">
              <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
              <small class="text-muted">{{food.stat}}</small>
              <p><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3" *ngFor="let food of foods[1]">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body">
            <h5 class="card-title">{{food.name}}</h5>
            <p class="card-text">Spanish Name</p>
            <div class="d-flex justify-content-between align-items-center">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
              <small class="text-muted">{{food.stat}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3" *ngFor="let food of foods[2]">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body">
            <h5 class="card-title">{{food.name}}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
              <small class="text-muted">{{food.stat}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3" *ngFor="let food of foods[3]">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body">
            <h5 class="card-title">{{food.name}}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
              <small class="text-muted">{{food.stat}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3" *ngFor="let food of foods[4]">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body">
            <h5 class="card-title">{{food.name}}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
              <small class="text-muted">{{food.stat}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
