<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top fixed-top-2">
    <button class="btn btn-outline-primary mr-1" (click)="markReady()">Mark Ready</button>
    <button class="btn btn-outline-primary mr-1" (click)="markSold()">Mark Sold Out</button>
    <button class="btn btn-outline-primary mr-1">Mark Preparing</button>
    <button class="btn btn-outline-primary mr-1">Mark Other</button>
    <button class="btn btn-outline-primary mr-auto" data-toggle="modal" data-target="#exampleModal">Add New</button>


    <button class="btn btn-outline-danger ml-auto mr-1" (click)="clearAll()">Clear All</button>
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
</nav>

<div class="container my-div">
  <div class="row">

    <div class="col-6 col-sm-3 card-group" *ngFor="let food of foods[0]" (click)="onSelect(food)">
      <div class="card mb-4 box-shadow" [ngClass]="{'active': food.isSelected}">
        <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}">
        <div class="card-body" style="height: 7rem">
          <h5 class="card-title">{{food.name}}</h5>
          <h5 class="card-text">{{food.spanish}}</h5>
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
          <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
          <small class="text-muted">{{food.stat}}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3 card-group" *ngFor="let food of foods[1]" (click)="onSelect(food)">
        <div class="card mb-4 box-shadow" [ngClass]="{'active': food.isSelected}">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body" style="height: 7rem">
            <h5 class="card-title">{{food.name}}</h5>
            <h5 class="card-text">{{food.spanish}}</h5>
          </div>
          <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
            <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
            <small class="text-muted">{{food.stat}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3 card-group" *ngFor="let food of foods[2]" (click)="onSelect(food)">
        <div class="card mb-4 box-shadow" [ngClass]="{'active': food.isSelected}">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body" style="height: 7rem">
            <h5 class="card-title">{{food.name}}</h5>
            <h5 class="card-text">{{food.spanish}}</h5>
          </div>
          <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
            <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
            <small class="text-muted">{{food.stat}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3 card-group" *ngFor="let food of foods[3]" (click)="onSelect(food)">
        <div class="card mb-4 box-shadow" [ngClass]="{'active': food.isSelected}">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body" style="height: 7rem">
            <h5 class="card-title">{{food.name}}</h5>
            <h5 class="card-text">{{food.spanish}}</h5>
          </div>
          <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
            <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
            <small class="text-muted">{{food.stat}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-sm-3 card-group" *ngFor="let food of foods[4]" (click)="onSelect(food)">
        <div class="card mb-4 box-shadow" [ngClass]="{'active': food.isSelected}">
          <img class="card-img-top" [attr.src]="food.image" alt="{{food.image}}" height="150" width="42">
          <div class="card-body" style="height: 7rem">
            <h5 class="card-title">{{food.name}}</h5>
            <h5 class="card-text"></h5>
          </div>
          <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
            <img [attr.src]="food.icon" alt="{{food.icon}}" alt="{{food.icon}}"  height="25" width="30">
            <small class="text-muted">{{food.stat}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #newItemForm="ngForm" (ngSubmit) = "newItem(item)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="item.name" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Spanish Name</label>
            <input type="text" class="form-control" placeholder="SpanishName" name="name2" [(ngModel)]="item.spanish">
          </div>
          <div class="form-group">
            <div>
              <label for="inlineRadioOptions">Select Type</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" value="r" [(ngModel)]="item.type">
              <label class="form-check-label" for="inlineRadio1">Rice</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" value="b" [(ngModel)]="item.type">
              <label class="form-check-label" for="inlineRadio2">Beans</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" value="m" [(ngModel)]="item.type">
              <label class="form-check-label" for="inlineRadio3">Meats</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" value="s" [(ngModel)]="item.type">
              <label class="form-check-label" for="inlineRadio3">Sides</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" value="o" [(ngModel)]="item.type">
              <label class="form-check-label" for="inlineRadio3">Other</label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
          <button type="button" class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
