.background {
  background-color: #3b4ef7;
  text-align:center;
  padding-bottom: 20px;
  font-family: 'Raleway';
}

.my-toolbar {
  position: fixed;
  top: 0;
  z-index:400;
}

.my-toolbarr {
  position: fixed;
  bottom: 0;
}

.space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.address {
  font-family: 'Raleway';
  font-size: 15px;
}
