<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" routerLink=".">Full Menu <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['menuToday']">Today Menu</a>
      <a class="nav-item nav-link" [routerLink]="['breakfastMenu']">Breakfast Menu</a>
      <a class="nav-item nav-link" href="#" [routerLink]="['aboutUs']">About Us</a>
      <a *ngIf="auth.isLoggedIn()" class="nav-item nav-link" [routerLink]="['backPage']">Back Page</a>
    </div>
    <button *ngIf="!auth.isLoggedIn()" class="btn btn-outline-success my-1 my-sm-0 ml-auto" [routerLink]="['login']">Log In</button>
    <button *ngIf="auth.isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0 ml-auto" (click)="auth.logout()">Log Out</button>
  </div>
</nav>

<div class="my-div d-flex flex-column">

  <div class="content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>

  <footer class="footer .flex-shrink-0">
    <div class="container">
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </div>
  </footer>

</div>
