<div style="text-align:center">
  <h1>FULL MENU</h1>
</div>

<div>
  <h2>Rice</h2>
  <div>
    <mat-grid-list cols="6" rowHeight="250px" gutterSize="20px">
    <mat-grid-tile *ngFor="let food of foods[0]">{{food.name}}</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div>
  <h2>BEANS</h2>
  <div>
    <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile *ngFor="let food of foods[1]">{{food.name}}</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div>
  <h2>MEATS</h2>
  <div>
    <mat-grid-list cols="6" rowHeight="3:1">
    <mat-grid-tile *ngFor="let food of foods[2]">{{food.name}}</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div>
<h2>SIDES</h2>
  <div>
    <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile *ngFor="let food of foods[3]">{{food.name}}</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div>
<h2>OTHER</h2>
  <div>
    <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let food of foods[4]">{{food.name}}</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
